@import "../../colors.scss";

.app-header-container {
  background-color: $background;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
  a {
    text-decoration: none;
    color: white;
  }

  .adminButton {
    transition: 0.2s;
    position: fixed;
    right: 25px;

    &:hover {
      font-weight: 700;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .main {
    position: sticky;
    left: 25px;
  }
}
